{% extends 'index.html' %}
{% block body %}

<div id="app">
  <div class="body">
    <form>
      <input v-model="user_name" placeholder="Search by @userName">
      <button v-on:click.stop.prevent="fetch_images">Search</button>
    </form>
    <div class="error">
      [[ errors ]]
      <h4 v-if="user_name === '' ">Why you dont just search ?</h4>
      {% load static %}
      <img v-if="is_loading === true " width="100" height="100" src="{% static 'rings1.svg' %}">
    </div>
    <div class="container" v-if="errors === '' && filter_images.length !== 0 ">
      <div class="media" v-for="img in filter_images">
        <button v-bind:class="(array_to_download.indexOf(img) !== -1) ? 'remove' : ''" v-on:click="addremove(img)">
          <span></span><span></span>
        </button>
        <img alt="hello" v-bind:src="img" />
      </div>
    </div>
    <div class="container" v-if="errors === '' && filter_videos.length !== 0 ">
      <div class="media" v-for="vid in filter_videos">
        <button>
          <span></span><span></span>
        </button>
        <video controls="controls" autoplay="true" loop="true" preload="true">
          <source v-bind:src="vid" type="video/mp4">
          Sorry, no video
        </video>
      </div>
    </div>
  </div>
  <div v-if="array_to_download.length > 0" class="download_bar">
    <div>
      <h4>[[ array_to_download.length ]] [[ (array_to_download.length === 1) ? 'Photo Selected' : 'Photos Selected ']]</h4>
      <img v-on:click="down_load" src="{% static 'dld.png' %}">
    </div>
  </div>
</div>

<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      // user to be searched
      user_name: '',
      // fetched data
      result_data: '',
      errors: '',
      is_loading: false,
      array_to_download: []
    },
    computed: {
      filter_images() {
        // Filter the images only
        imgs_only = []
        var tweets = this.result_data
        for (var i = 0; i < tweets.length; i++) {
          var images = tweets[i].imgs
          // if (tweets[i].videos !== null) {
          //   this.imgs_only.push(tweets[i].videos)
          // }
          for (var ii = 0; ii < images.length; ii++) {
            imgs_only.push(images[ii])
          }
        }
        return imgs_only
      },
      filter_videos() {
        // Filter the videos only
        video_only = []
        var tweets = this.result_data
        for (var i = 0; i < tweets.length; i++) {
          if (tweets[i].videos !== null) {
            video_only.push(tweets[i].videos)
          }
        }
        return video_only
      }
    },
    methods: {
      fetch_images() {

        this.is_loading = true
        this.errors = ''
        this.result_data = ''

        const po = async () => {
          const response = await fetch(`http://localhost:8000/api/${this.user_name}/`);

          if (response.status === 200) {

            const json = await response.json();
            // check if the user doesnt exist
            if (json.message !== undefined) {
              this.errors = json.message
            }
            this.is_loading = false
            return this.result_data = json.data
          } else {
            this.is_loading = false
            return this.res_status = response.status
          }
        }
        po()
      },
      addremove(e) {
        var index = this.array_to_download.indexOf(e)

        if (index === -1) {
          return this.array_to_download.push(e)
        } else {
          return this.array_to_download.splice(index, 1);
        }
        console.log(this.array_to_download)
      },
      down_load() {
        var zip = new JSZip();
        var count = 0;
        var zipFilename = "zipFilename.zip";

        this.array_to_download.forEach(url => {
          axios
            .get(url, {
              responseType: 'blob'
            })
            .then(res => {
              var file_name = count + '.jpg'
              zip.file(file_name, res.data, {
                binary: true
              });
              count++;
              if (count === this.array_to_download.length) {
                zip.generateAsync({
                    type: 'blob'
                  })
                  .then(content => {
                    saveAs(content, this.user_name + '.zip');
                  });
              }
            })
            .catch(err => console.log(err))
        })
      }
    }
  })
</script>

<style>
  #app {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  }

  .body {
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .body input {
    background: white;
    border: none;
    width: 20rem;
    height: 2.7rem;
    padding-left: 10px;
    font-size: 16px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  form button {
    width: 4rem;
    height: 2.7rem;
    margin-left: .6rem;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    background: #2ECC71;
    color: white
  }

  form button:active {
    background: #fff;
    color: #06C65A
  }

  .body input:focus {
    outline: solid 2px #73A6FF;
    outline-offset: -2px;
  }

  .error {
    text-align: center;
    margin-top: 5rem;
    color: white
  }

  .container {
    line-height: 30px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: .4rem;
    margin: 5rem;
    background: white;
    padding: 1rem;
    border-radius: 2px;
  }

  .container img {
    width: 100% !important;
  }

  .container video {
    width: 100% !important;
    height: auto !important;
  }

  .media {
    position: relative;
    top: 0;
    left: 0;
    background: white;

  }

  /* Add/remove button*/

  .media button {
    background: #e74c3c;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    font-size: 1em;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2000;
  }

  .media button span {
    position: absolute;
    transition: .2s;
    background: white;
    border-radius: 2px;
  }

  .media button span:first-of-type {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
  }

  .media button span:last-of-type {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
  }

  button.remove {
    color: white !important;
    background: white !important;
    border: 2px solid #e74c3c
  }

  button.remove span:first-of-type,
  button.remove span:last-of-type {
    transform: rotate(90deg) !important;
    background: #e74c3c !important;
  }

  button.remove span:last-of-type {
    left: 50%;
    right: 50%;
  }

  @media (max-width: 1200px) {
    .container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin: 4rem;
    }
  }

  @media (max-width: 1000px) {
    .container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin: 3rem;
    }
  }

  @media (max-width: 800px) {
    .container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      margin: 2rem;
    }
  }

  @media (max-width: 400px) {
    .container {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
      margin: 1rem;
    }
  }

  /*download barrr*/

  .download_bar {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    background: rgba(0, 0, 0, 0)
  }

  .download_bar div {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background: #222;
  }

  .download_bar div h4 {
    float: left;
    background: inherit;
    color: white;
    padding: 10px;
    padding-top: 15px;
    font-weight: lighter;
  }

  .download_bar div img {
    background: inherit;
    /* height: 2rem; */
    padding: 10px;
  }
</style>
{% endblock %}