{% extends 'index.html' %}
{% block body %}

<div id="app">
  <div class="body">
    <form>
      <input v-model="user_name" placeholder="Search by @userName">
      <button v-on:click.stop.prevent="fetch_images">Submit</button>
    </form>
    <div class="error">
      [[ errors ]]
      <h4 v-if="user_name === '' ">Why you dont just search ?</h4>
      <img v-if="is_loading === true " width="100" height="100" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F62U9Iw4Kmvgl2%2Fgiphy.gif&f=1">
    </div>
    <div class="container" v-if="result_data !== ''">
      <div class="image-group" v-for="tweet in result_data" v-on:key="tweet.tweet_Id">
        <button v-bind:class="toggle_add_remove" v-on:click="addremove">
          <span></span><span></span>
        </button>
        <img alt="hello" v-for="img in tweet.imgs" v-bind:src="img" />
      </div>
    </div>
  </div>
</div>

<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      user_name: '',
      result_data: '',
      errors: '',
      is_loading: false,
      toggle_add_remove: ''
    },
    methods: {
      fetch_images() {

        this.is_loading = true

        const po = async () => {
          this.result_data = ''
          const response = await fetch(`http://localhost:8000/api/${this.user_name}/`);

          if (response.status == 200) {

            const json = await response.json();

            this.is_loading = false
            this.errors = await json.message

            return this.result_data = json.data
          } else {
            this.is_loading = false
            // console.log('error' + json.data)
            return this.res_status = response.status
          }
        }
        po()
      },
      addremove() {
        (this.toggle_add_remove === '') ? this.toggle_add_remove = 'remove': this.toggle_add_remove = ''
      }
    }
  })
</script>

<style>
  #app {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  }

  .body {
    width: 100%;
    height: auto;
    margin-top: 6rem;
  }

  .body input {
    background: white;
    border: none;
    width: 20rem;
    height: 2.7rem;
    padding-left: 10px;
    font-size: 16px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  form button {
    width: 4rem;
    height: 2.7rem;
    margin-left: .6rem;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    background: #06C65A;
    color: white
  }

  form button:active {
    background: #fff;
    color: #06C65A
  }

  .body input:focus {
    outline: solid 2px #73A6FF;
    outline-offset: -2px;
  }

  .error {
    text-align: center;
    margin-top: 5rem;
  }

  .container {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: .4rem;
    margin: 5rem;
    background: white;
    padding: 1rem;
  }

  .container img {
    width: 100% !important;
    margin-bottom: .4rem
  }

  .image-group {
    position: relative;
    top: 0;
    left: 0;
  }

  /* Add/remove button*/

  .image-group button {
    background: #e74c3c;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    font-size: 1em;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2000;
  }

  .image-group button span {
    position: absolute;
    transition: .2s;
    background: white;
    border-radius: 2px;
  }

  .image-group button span:first-of-type {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
  }

  .image-group button span:last-of-type {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
  }

  button.remove {
    color: white !important;
    background: white !important;
    border: 2px solid #e74c3c
  }

  button.remove span:first-of-type,
  button.remove span:last-of-type {
    transform: rotate(90deg) !important;
    background: #e74c3c !important;
  }

  button.remove span:last-of-type {
    left: 50%;
    right: 50%;
  }

  @media (max-width: 1200px) {
    .container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin: 4rem;
    }
  }

  @media (max-width: 1000px) {
    .container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin: 3rem;
    }
  }

  @media (max-width: 800px) {
    .container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      margin: 2rem;
    }
  }

  @media (max-width: 400px) {
    .container {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
      margin: 1rem;
    }
  }
</style>
{% endblock %}