<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    {% load static %}
    <script src="{% static 'jszip.min.js' %}"></script>
    <script src="{% static 'Filesaver.min.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <title>GET ALL MEDIA</title>
  </head>
  <style>
    * {
      margin: 0;
      background: #2c3e52;
      box-sizing: border-box;
    }
  </style>

  <body>
    {% block body %} {% endblock %}
  </body>


</html>